* {
    margin: 0;
    padding: 0;
    }

html {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    color: #403930;
}

body {
    padding: 0;
    margin: 0;
    background-color: #FEF5DB;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    font-size: 3.815rem;
}

h2 {
    font-size: 3.052rem;
}

h3{
    font-size: 2.441rem;
}

h4 {
    font-size: 1.953rem;
}

h5 {
    font-size: 1.563rem;
}

h6 {
    font-size: 1.25rem;
}

p {
    color:  #403930; 
}

a {
    font-family: "Mali", cursive;
}

section {
    padding: 5% 8%;
}

#salutation {
    padding: .4rem;
    width: fit-content;
    font-family: "Mali", cursive;
    margin-bottom: 1rem;
    border: .2rem dashed #957e5c;
    border-radius: 12px;
}

#hero-section {
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    justify-content: space-evenly;
}

#hero-contents {
    text-align: left;
    align-self: center;
}

#thumbs {
    margin: 0;
    margin-bottom: -6%;
    display: flex;
    align-self: flex-end;
    max-width: 400px;
    min-width: 160px;
}

#thumbs img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.works-heading {
    margin: 2rem auto;
}

#work-section {
    background-color: #FFDDBF;
    text-align: center;
}

.work-type {
    font-family: "Mali", cursive;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.work-item {
    background-color: #fef8f3;
    padding: 8% 5%;
    border-radius: 20px;

    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
}

.work-info p {
    margin: 2em auto;;
}

.view-work {
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: bold;;
    color: #5d4472;
}

.work-screenshot-container {
    margin: 0 auto;
    max-width: 35%;
    max-height: 245px;
}

.page-ss {
    width: 100%;
    height: 100%;
    object-fit: contain;
}





@media (max-width: 1366px) {

    html {
        font-size: 16px;
    }

}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }

    .work-item {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 12px;
    }
}